body {
    background-color: #262a2f;
}
.login-box{
    background-color:#000000;
    color:white;
    padding:10px 120px;
    width:350px;
    height:600px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align:center;
    border-radius:10px;
}
.logo{
    width:40px;
    margin-bottom: 20px;
}
#sit{
    font-family:Arial;
    font-size:30px;
    margin-top:0;
}
.butoane, .par{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    border: 1px solid #999;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    transition: opacity 0.3s;
}
.butoane:hover{
    opacity:0.9;
}
.butoane:active{
    opacity:0.75;
}
button[disabled] {
    animation: none !important;
    pointer-events: none;
    opacity: 0.5; /* Optional: You can reduce the opacity to indicate the button is disabled */
}


.login-box button img{
    width:18px;
    margin-right:10px;
}
.login-box hr{
    border:0;
    height: 1px;
    background:#999;
    margin: 10px;
}
.login-box span {
    display: block;
    width: 30px;
    margin: auto;
    font-size: 18px;
    margin-top: -21px;
    background: #000000;
}
.login-box input {
    width: 90%;
    background: transparent;
    border: 1px solid rgb(51, 54, 57);
    outline: 0;
    padding: 20px 8px 8px;
    border-radius: 4px;
    margin: 10px 0;
    color: white;
    transition-property: border-color;
    transition-duration: 0.5s;
}

.login-box input:focus {
    border-color: #1DA1F2;
}
.login-box input {
    font-size: 17px;
    color: #b7b5b3;
}

.par {
    color: white;
    background: #000000;
    transition:box-shadow 0.3s;
}
.par:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.par:active{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2)
}
.login-box p{
    text-align:left;
    font-size:14px;
    color:#555;
    margin:40px 0 50px;
    font-family:Arial;
}
.login-box p a{
    text-decoration:none;
    color: #259cf0;
    transition:text-decoration 0.3s;
}
.login-box p a:hover{
    text-decoration:underline;
}
.floating-label {
    position: absolute;
    pointer-events: none;
    transition: all 0.1s ease;
    font-size: 17px;
    color: #cccccc;
    font-family: Arial;
    opacity: 0.5;
    left: 23.3%;
    top: 46.7%;
}
input:focus ~ .floating-label {
    top: 45%;
    left:23.3%;
    font-size: 11px;
    color: #1DA1F2;
    opacity:0.8;
}
input:not(:focus):valid ~ .floating-label {
    top: 45%;
    left: 23.3%;
    font-size: 11px;
    opacity: 0.5;
}

